# Compiled Object files
*.slo
*.lo
*.o
ray-tracer

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Sublime Text Workspace
*.sublime-project
*.sublime-workspace
